{{ define "main" }}
  歡迎來到 ponpon 的部落格！
  <h1>最新文章</h1>

  {{ $list := where .Site.RegularPages "Section" "posts" }}
  {{ $p := .Paginate $list }}
  {{ $pages := $p.Pages }}
  {{ range $i, $page := $pages }}
    <article>
      <h2><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h2>
      <div class="meta">{{ $page.Date.Format "2006-01-02" }}</div>
      <p>{{ $page.Summary }}</p>
    </article>
    {{ if lt $i (sub (len $pages) 1) }}
      <hr>
    {{ end }}
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}